.mail-folder-list {
    height: calc(100vh - 65px);
    width: 72px;
    position: fixed;
    display: grid;
    background-color: rgb(248, 250, 253);

    transition: width 0.2s;
    transition-delay: 0s;

    .compose {
        transition: width 0.2s;
        transition-delay: 0s;

        font-size: 20px;
        height: 56px;
        width: 56px;
        border-radius: 16px;
        margin: 7px 8px;
        background-color: rgb(194, 231, 255);

        &:hover {
            box-shadow: 0 2px 5px grey;
            cursor: pointer;
        }
    }

    .folder-nav {
        display: flex;
        flex-direction: column;
        margin: 9px 0;
        height: calc(100vh - 65px);

        >.btn-container {
            display: flex;
            align-items: center;
            height: 32px;
            width: 32px;
            margin-left: 20px;
            border-radius: 50%;
            /* margin-right: 20px; */

            transition: width 0.2s, border-radius 0.2s, margin 0.2s;
            transition-delay: 0s;

            &:hover {
                background-color: #00000016;
                cursor: pointer;
            }

            &.selected-folder {
                background-color: rgb(211, 227, 253);

                :hover {
                    background-color: rgb(211, 227, 253);
                }
            }

            .folder-txt {
                white-space: nowrap;
                width: 0;
                overflow: hidden;
                padding-left: 15px;
                transition: width 0.2s;

            }
            .unread-nav{
                flex: 0.3;
                text-align: right;
            }

            >button {
                transition: margin 0.2s;
                transition-delay: 0s;
                width: 32px;
                height: 32px;
                font-size: 15px;
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    button {
        border: 0;
        border-radius: 50%;
    }
}

.mail-folder-list:hover {
    width: 256px;
    transition: width 0.2s;
    transition-delay: 0.2s;

    .folder-txt {
        transition-delay: 0.3s;
        flex: 0.6;
    }

    .btn-container {
        transition-delay: 0.2s;
        margin-left: 0;
        border-radius: 0 50px 50px 0;
        width: 250px;

        >button {
            transition-delay: 0.2s;
            margin-left: 20px;
        }
    }

    .compose {
        transition-delay: 0.2s;
        width: 150px;
    }
}