.mail-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    border-radius: 0 0 20px 20px;

}

.mail-container {
    display: grid;
    grid-template-columns: 250px 1fr max-content;
    align-items: center;
    border-bottom: 1px solid rgb(203, 203, 203);
    font-size: medium;
    gap: 10px;
    padding: 0 10px;
    white-space: nowrap;

    >* {
        height: 100%;
    }

    p {
        margin: 0;
        padding: 9px 0;
        font-weight: bold;
    }

    >.edit-mail-btns {
        display: none;
        margin-left: auto;
    }

    .prev-sec-1 {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .prev-sec-2 {
        display: flex;
        gap: 5px;
        overflow: hidden;



        >.mail-body {
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 400;
            color: rgb(95, 95, 95);
        }
    }

    .mail-date {
        margin-left: auto;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px gray;

        .edit-mail-btns {
            display: flex;
        }

        .mail-date {
            display: none;
            margin-left: auto;
        }
    }
}

.mail-container {
    button {
        background-color: transparent;
        border: 0;
        padding: 0;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
    }
    
    i {
        height: 100%;
        width: 100%;
        
        padding: 10px;
        transition: -50% -50%;
        border-radius: 50%;
        font-size: large;
        cursor: pointer;

        &:hover {
            background-color: #00000016;
        }
    }
}

.mail-read {
    background-color: rgba(242, 246, 252, 1);

    p {
        font-weight: 400;
    }
}