
.mail-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    background-color: white;
    border-radius: 20px 20px 0 0 ;


    >div{
        display: flex;
        .logo{
            padding: 0 30px 0 10px;
        }

        /* >input{
            width: 100%;
        } */
    }

    >.clear-storage{
        position: absolute;
        top: 65px;
        
    }
}