
.note-preview:hover {
  transform: scale(1.02);
}

.note-layout{
  display: contents;
}

.note-preview {
  display: block;
  width: 100%;
  max-width: 240px;
  margin-bottom: 16px;  /* vertical spacing only */
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.icon-notes{
  min-width: 40px;
  padding-bottom: 5px;
}