/* mail index  */

.mail-index {
    height: calc(100vh - 52px);
    /* font-family: Google Sans; */
    background-color: rgba(248, 250, 253, 1);

    display: grid;
    grid-template-columns: 80px 1fr 65px;
    grid-template-rows: 55px 1fr 55px;

    >.mail-header {
        grid-column: 2 / 3;
    }

    >.mail-list {
        grid-column: 2 / 3;
    }

    >.mail-folder-list {
        grid-row: 1/4;
    }


}