.mail-details {
    display: grid;
    height: calc(100vh - 65px);
    grid-template-columns: 72px 1fr 65px;
    grid-template-rows: 88px 1fr 55px;

    >.details-container{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}