/* mail index  */

.mail-index {
    height: calc(100vh - 65px);
    color: rgb(43, 43, 43);
    background-color: rgb(248, 250, 253);

    display: grid;
    grid-template-columns: 72px 1fr 65px;
    grid-template-rows: 102px 1fr 55px;

    >.mail-header {
        grid-column: 2 / 3;
    }

    >.mail-list {
        grid-column: 2 / 3;
    }

    >.mail-folder-list {
        grid-row: 1/4;
    }

    .mail-loading {
        grid-column: 2 / 3;
    }
}

.mail-loading {
    width: 100%;
    margin-top: 30px;
    font-size: xxx-large;
    text-align: center;
}