/* Setup */

@import './setup/variables.css';
@import './setup/fonts.css';

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';

/* Pages */
@import './pages/home.css';


/* Notes */
@import './apps/note/pages/NoteIndex.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/NotePreview.css';


/* mails */
@import './apps/mail/pages/MailIndex.css';
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailHeader.css';
@import './apps/mail/cmps/MailCompose.css';
@import './apps/mail/cmps/MailFolderList.css';


/* Cmps */
@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';
