.note-index *{
    font-family: "Google Sans","Roboto",arial,sans-serif;
}

.note-title{
    font-size: 1rem;
    margin-block: 0.25rem;
}

.note-txt{
    font-size: 0.75rem;
}

.new-note{
    display: block;
    position: relative;
    place-self: center;
    width: 500px;
    min-height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(216, 215, 215);
    
    box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.07);
}