.note-index * {
    font-family: "Google Sans", "Roboto", arial, sans-serif;

    input {
        border: none;
        width: 95%;
        margin-top: 8px;
        margin-left: 8px;
    }

    input:focus {
        outline: none;
        /* Removes the default browser focus outline */
        border: none;
        /* Removes the standard border when focused */
    }

}

.note-index {
    padding-left: 80px;
    padding-top: 40px;
}

.note-title {
    font-size: 1.25rem;
    font-weight: 100;
    margin-block: 0.25rem;
}

.note-txt {
    font-size: 0.875rem;
}

.new-note {
    display: block;
    position: relative;
    place-self: center;
    max-width: 600px;
    width: 80vw;
    max-height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(216, 215, 215);
    border-bottom-color: rgb(185, 185, 185);
    cursor: text;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(0, 0, 0, .07);
}

.text-box-cosmetic {
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px 8px 12px;
}

.new-note .active {
    background-color: black;
}

.new-note-open {
    min-height: 70px;
    max-height: none;
}

.note-name-edit {
    font-size: 1.25rem;
}

.note-text-edit {
    font-size: 1rem;
}

.note-layout {
    max-width: 240px;
}

.filter-bar {
    position: absolute;
    width: 80px;
    height: 90vh;
}

.note-todos {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;

    input {
        margin: 0;
        width: auto;
    }
}

.note-todos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-block: 10px;
}

.note-actions-bar {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.1s;
    position: fixed;
    bottom: 0;
    opacity: 1;
}

.note-preview:hover {
    .note-actions-bar {
        display: flex;

    }
}

.filter-bar {
    display: none;
}

.note-options {
    position: absolute;
    right: 0;
    top: 0;

    input {
        opacity: 1;
        width: 0.1px;
        height: 0.1px;
    }
}

.upload-img-note{
    width: 35px;
    height: 35px;
    place-content: center;
    cursor: pointer;
}

.upload-img-note-label{
    input{
        position:absolute;
        z-index: -1;
    }
}

.todo-note-btn{
    width: 35px;
    height: 35px;
    cursor: pointer;
    place-content: center;
}

.note-options{
    display: flex;
    gap: 8px;
}

.note-options *{
    opacity: 0.75;
}

.note-options *:hover{
    opacity: 1;
}