.note-index * {
    font-family: "Google Sans", "Roboto", arial, sans-serif;
    input {
        border: none;
        width: 95%;
        margin-top: 8px;
        margin-left: 8px;
    }

    input:focus {
        outline: none;
        /* Removes the default browser focus outline */
        border: none;
        /* Removes the standard border when focused */
    }

}

.note-index{
    padding-left: 80px;
    padding-top: 40px;
}

.note-title {
    font-size: 1.25rem;
    font-weight: 100;
    margin-block: 0.25rem;
}

.note-txt {
    font-size: 0.875rem;
}

.new-note {
    display: block;
    position: relative;
    place-self: center;
    max-width: 600px;
    width: 80vw;
    max-height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(216, 215, 215);
    border-bottom-color: rgb(185, 185, 185);
    cursor: text;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(0, 0, 0, .07);
}

.text-box-cosmetic {
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px 8px 12px;
}

.new-note .active {
    background-color: black;
}

.new-note-open {
    min-height: 70px;
    max-height: none;
}

.note-name-edit{
    font-size: 1.25rem;
}

.note-text-edit{
    font-size: 1rem;
}

.note-layout{
    max-width: 240px;
}

.filter-bar{
    position: absolute;
    width: 80px;
    height: 90vh;
}