.note-index * {
    font-family: "Google Sans", "Roboto", arial, sans-serif;

    input {
        border: none;
        width: 95%;
        margin-top: 8px;
        margin-left: 8px;
    }

    input:focus {
        outline: none;
        /* Removes the default browser focus outline */
        border: none;
        /* Removes the standard border when focused */
    }

}

.note-index {
    padding-left: 80px;
    padding-top: 40px;
}

.note-title {
    font-size: 1.25rem;
    font-weight: 350;
    margin-block: 0.25rem;
}

.note-txt {
    font-size: 0.875rem;
}

.new-note {
    display: block;
    position: relative;
    place-self: center;
    max-width: 600px;
    width: 80vw;
    max-height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(216, 215, 215);
    border-bottom-color: rgb(185, 185, 185);
    cursor: text;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(0, 0, 0, .07);
}

.text-box-cosmetic {
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px 8px 12px;
}

.new-note .active {
    background-color: black;
}

.new-note-open {
    min-height: 70px;
    max-height: none;
}

.note-name-edit {
    font-size: 1.25rem;
}

.note-text-edit {
    font-size: 1rem;
}

.note-layout {
    max-width: 240px;
}

.filter-bar-notes {
    display: grid;
    grid-template-columns: 80px 0px;
    justify-items: center;
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
    height: 90vh;
    transition: grid-template-columns 0.2s ease-in-out 0.1s;
}

.filter-bar-notes:hover{
    grid-template-columns: 80px 200px;
    .note-item-label{
        visibility: visible;
    }
}

.filter-search-notes{
    position: absolute;
    place-self: center;
    display: block;
    top: 5px;
    margin-top: 10px;
    button{
        background: none;
        border: none;
        width: 32px;
        height: 24px;
        color: gray;
    }
    button:hover{
        cursor: pointer;
    }
}

.search-txt-box-notes{
    display: inline-block;
    height: 36px;
    font-size: 20px;
    width: 92%;
    background: none;
    border: none;
}

.note-todos {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: start;
    gap: 5px;
    input {
        margin: 0;
        width: auto;
    }
}

.note-options{
    display: flex;
    gap: 16px;
    padding-right: 20px;
}

.note-todos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-block: 10px;
}

.note-actions-bar {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.1s;
    position: fixed;
    bottom: 0;
    opacity: 1;
}

.note-preview:hover {
    .note-actions-bar {
        display: flex
    }
}

.note-options {
    position: absolute;
    right: 0;
    top: 0;

    input {
        opacity: 1;
        width: 0.1px;
        height: 0.1px;
    }
}

.upload-img-note{
    width: 35px;
    height: 35px;
    place-content: center;
    cursor: pointer;
}

.upload-img-note-label{
    input{
        position:absolute;
        z-index: -1;
    }
}

.todo-note-btn{
    width: 35px;
    height: 35px;
    cursor: pointer;
    place-content: center;
}



.note-options *{
    opacity: 0.6;
}

.note-options *:hover{
    opacity: 1;
}

.yt-note-btn{
    width: 35px;
    height: 35px;
    cursor: pointer;
    place-content: center;
}

.chosen-filter{
    background-color: rgb(255, 240, 196)
}

.filter-search-notes{
    width: 50%;
}

.filter-search-notes-form{
    place-self: center;
    width: 100%;
    justify-content: center;
    pointer-events: none;
    button{
        pointer-events: auto;
    }
    input{
        pointer-events: auto;
    }
    input:focus{
        outline: none;
        border: 1px solid rgb(189, 189, 189);
        border-top: none;
        border-radius: 5px;
    }
}

.note-item-label{
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
}