header {
    background: rgb(93, 255, 255);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

nav a {
    margin-inline: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.logo{
    max-height: 30px;
}