.app-header {
    background-color: rgb(248, 250, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;

    >a{
        height: 100%;
        padding: 5px;
    }
}

nav a {
    margin-inline: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: rgb(168, 13, 211);
    font-weight: bold;
    border-bottom: 2px solid rgb(168, 13, 211);
}

.logo{
    height: 100%;
}